#main-content {
    height: fit-content;

    border-radius: 10px;
}

.exercicio {
    background-color: lightgray;

    padding: 10px;
    margin-bottom: 2vh;

    border-radius: 10px;
}

button {
    background-color: black;
    color: white;

    border: none;
    outline: none;
}

button:hover {
    background-color: white;
    color: red;
}

li {
    margin-bottom: 4vh;
    padding-left: 3px;
    padding-right: 3px;

    height: 38px;

    border: 1px solid rgba(0, 0, 0, 0);
    
    display: flex;
    flex-direction: column;
}

input {
    background-color: rgba(0, 0, 0, 0);

    border: 1px solid #ccc;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;

    width: 100%;

    font-weight: bold;
}

input:hover {
    background-color: rgba(20, 20, 20);

    color: white;
}

input:focus {
    outline: none;
}

select {
    background-color: rgba(0, 0, 0, 0);

    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;

    font-weight: bold;
}

select:focus {
    outline: none;
}

select:hover {
    background-color: rgba(20, 20, 20);

    color: white;  
}

.dado-usuario {
    font-weight: bold;
    
    width: 100%;
}

#dados-treino p {
    height: 38px;
}