body {
  background: #f7f9fc;
}

.dashboard-title {
  margin-bottom: 20px;
  color: #333;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, .05);
  padding: 1rem;
  background: #fff;
  margin-bottom: 1rem;
  height: 100%;
}

.card-title {
  font-weight: 600;
  font-size: 1.1rem;
  color: #444;
}

.card-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: #555;
}

canvas {
  width: 100% !important;
  max-height: 250px;
}

.card-content {
  margin-top: 1rem;
  color: #888;
}