#main-content {
    height: fit-content;

    border-radius: 10px;
}

button:hover {
    background-color: black;
    color: white;
}

li {
    margin-bottom: 2vh;

    height: 38px;
}

/*input#input-email {
    width: 30vw;
}*/

